/**
* ----------------------
* Un.titled
* Molecules - Downloads
* ----------------------
*/

/**
* Config
*/

/**
* Styling
*/
&__downloads {
  .file {
    padding-left: 0;
    background-image: none;
    font-family: var(--fontTitle);
  }
}
