{% extends 'page.html.twig' %}

{% block content %}
  <div class="no-banner o-search-results">
    <div class="grid">
      <div class="col-sm-7">
        <h1>
          Search results
        </h1>

        {{ page.content }}
      </div>
    </div>
  </div>
{% endblock content %}