{% set has_media = content.image %}
{% if has_media %}

	<div class="m-banner" role="banner">

		{% include '@pippip/partials/atoms/banner-image.html.twig' with {image: content.image, alt: content.imagealt} %}

		{% if content.type != 'page' %}
			<div class="m-banner__inner">
				<div class="grid justify-center">
					<div class="col-12">

            {% if content.title %}
              <h1 class="featured">
                {{ content.title }}
              </h1>
						{% endif %}
        
            {% if content.summary %}
              {{ content.summary }}
            {% endif %}

					</div>
				</div>
			</div>
		{% endif %}

		{% include '@pippip/partials/atoms/image-credit.html.twig' %}

	</div>

{% else %}

	{% if content.type != 'page' %}
		<div class="m-no-banner" role="banner">
			<div class="grid justify-center">
				<div class="col-11">

          {% if content.title %}
            <h1 class="featured">
              {{ content.title }}
            </h1>
          {% endif %}

          {% if content.summary %}
            {{ content.summary }}
          {% endif %}

				</div>
			</div>
		</div>
	{% endif %}

{% endif %}
