{% if content.field_ymal_pages|render %}
  <section class="m-entity" aria-label="Related content">
    {% if content.field_ymal|render %}
      <div class="grid">
        <div class="col-sm-12">
          <h2 class="h3">{{ content.field_ymal }}</h2>
        </div>
      </div>
    {% endif %}

    {{ content.field_ymal_pages}}
  </section>
{% endif %}