{#
	Emergency Message
#}
{% if content.field_display_message.0['#markup'] == 'Display message' %}

  <div class="m-emmsg" aria-label="Sitewide message">
    <div class="grid justify-center">
      <div class="col-12">

        {% if content.field_title|render %}
          <h3>{{ content.field_title}}</h3>
        {% endif %}

        {{ content.body }}
        
        <button class="m-emmsg__close" title="Hide message" aria-label="Close emergency message">{{ get_icon('close') }}</button>

      </div>
    </div>
  </div>

  {{ attach_library('pippip/emmsg') }}

{% endif %}
