/**
 * ----------------------
 * Un.titled
 * Base - Typography
 * ----------------------
 */

/**
 * Config
 */

/**
 * Heading
 */
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 0;
  font-family: var(--fontTitle);
  font-weight: normal;
}

h1,
.h1 {
  line-height: 1.1;
}

h2,
.h2 {
  line-height: 1.15;
}

h3,
.h3 {
  line-height: 1.3;
}

h4,
.h4 {
  line-height: 1.4;
}

h5,
.h5,
h6,
.h6 {
  line-height: 1.5;
}

/**
 * Paragraphs
 */
p {
  margin: 1.5em 0;

  &:first-of-type {
    margin-top: 0;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

/**
 * Lists
 */
ul,
ol {
  margin: 1.5rem 0;
  list-style-position: inside;
  padding-left: 0;
}

/**
 * Links
 */
a {
  color: inherit;
  font-weight: inherit;
  text-decoration: none;
  transition: 0.1s var(--easing);

  &:hover,
  &:focus,
  &:active {
    text-decoration: underline;
  }

  &:focus {
    outline: 3px dashed currentColor;

    @include focus-visible() {
      outline: 0;
    }
  }
}

.no-click {
  pointer-events: none;
  cursor: default;
}

::selection {
  background-color: var(--c-secondary);
  color: var(--c-primary);
}

/**
 * Buttons
 */
button {
  &:focus {
    outline: 3px dashed currentColor;

    @include focus-visible() {
      outline: 0;
    }
  }
}

/**
 * Inline
 */
strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

span {
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  font-size: inherit;
}

address {
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  font-size: inherit;
  font-style: normal;
}

small {
  font-size: 90%;
}

hr {
  border: solid var(--c-primary);
  border-width: 0 0 3px 0;
  margin: 1.5rem 0;
}

figure {
  margin: 0;
}
