/**
* ----------------------
* Un.titled
* Atoms - Breadcrumbs
* ----------------------
*/

/**
* Styling
*/
.a-breadcrumb {
  margin-bottom: var(--bump);
  padding: calc(var(--bump) / 2) 0;

  @include media('<xs') {
    margin-bottom: calc(var(--bump) / 2);
  }

  ol {
    @include li-reset;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    li {
      margin-right: calc(var(--bump) / 6);
      white-space: nowrap;

      &::after {
        content: '/';
        margin-left: calc(var(--bump) / 10);
      }

      &:last-child {
        &::after {
          display: none;
        }
      }
    }
  }
}
