/**
 * ----------------------
 * Un.titled
 * Atoms - Image credits
 * ----------------------
 */

.a-image-credit {
  position: absolute;
  bottom: var(--bump);
  right: var(--bump);
  z-index: 4;
  cursor: help !important;
  height: var(--bump);
  width: var(--bump);
  border: 0;

  @include media('<sm') {
    bottom: calc(var(--bump) / 2);
    right: calc(var(--bump) / 2);
  }

  span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-transform: none;
    line-height: 15px;
    text-align: center;
  }

  &:before {
    content: attr(data-credit);
    text-indent: 0;
    background: var(--c-primary);
    color: var(--c-white);
    opacity: 0;
    position: absolute;
    right: var(--bump);
    top: 0;
    z-index: -1;
    padding: 0 21px;
    height: var(--bump);
    line-height: var(--bump);
    white-space: nowrap;
    transition: opacity var(--transition);
    pointer-events: none;
    border-radius: 3px;
    letter-spacing: 0;
    word-spacing: 0;
  }

  &:focus,
  &:active,
  &:hover {
    &::before {
      opacity: 1;
    }
  }
}
