/**
 * ----------------------
 * Un.titled
 * Organisms - Teasers
 * ----------------------
 */

.o-teaser {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  &__thumb {
    display: block;
    width: 100%;
    position: relative;
    background-color: var(--c-primary);

    .a-image-credit {
      left: calc(var(--bump) / 1.5);
    }

    img {
      width: 100%;
      height: auto;
      display: block;
      transition: var(--transition);
    }

    &:hover {
      img {
        opacity: 0.6;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: calc(var(--bump) / 2);

    p {
      &:last-of-type {
        margin-bottom: var(--bump);

        @include media('<sm') {
          margin-bottom: calc(var(--bump) / 2);
        }
      }
    }
  }

  &__buttons {
    margin-top: auto;
    padding: 0 calc(var(--bump) / 1.5) calc(var(--bump) / 1.5);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: calc(var(--bump) / 2);
    align-self: flex-start;
  }
}
