/**
 * ----------------------
 * Un.titled
 * Molecules - Banner
 * ----------------------
 */

.m-no-banner {
  margin-top: $bump * 3;

  @include media('<sm') {
    margin-top: $bump;
  }
}

.m-banner {
  position: relative;

  img {
    width: 100%;
    height: auto;
  }
}
