/**
 * ----------------------
 * Un.titled
 * Molecules - Emergency Message
 * ----------------------
 */

/**
 * Config
 **/
@keyframes slideInUp {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  80% {
    transform: scale(1.02);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

/**
 * Styling
 **/
.m-emmsg {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--c-primary);
  z-index: 100;
  color: var(--c-white);
  padding: calc(var(--bump) / 2) 0;
  max-height: 30vh;
  border-top: 1px solid var(--c-white);
  display: none;

  &[data-state='visible'] {
    opacity: 0;
    display: block;
    transform: translateY(100%);
    animation: slideInUp 0.2s 0.3s cubic-bezier(0.77, 0.29, 0.35, 0.72) 1 forwards;
  }

  @include media('<sm') {
    overflow: scroll;
  }

  @include media('<xs') {
    padding: 0;
  }

  h3 {
    margin-bottom: 0.5rem;
    width: 85%;
  }

  p {
    width: 85%;
  }

  button {
    @include btnReset;
    position: absolute;
    top: calc(var(--bump) / 2);
    right: calc(var(--bump) / 2);
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition);

    path {
      fill: var(--c-white);
      transition: var(--transition);
    }

    &:hover {
      background-color: var(--c-white);

      path {
        fill: var(--c-secondary);
      }
    }
  }
}
