/**
 * ----------------------
 * Un.titled
 * Molecules - Accordions
 * ----------------------
 */

&__accordion {
  .accordion__header {
    display: flex;
    width: 100%;
    border: 0;
    background-color: transparent;
    text-align-last: left;
    justify-content: space-between;
    padding: 0;
  }

  .js-accordion__panel {
    display: none;
  }

  .accordion__panel {
    display: block;
    overflow: hidden;
    opacity: 1;
    transition: visibility 0s ease, max-height 0.2s ease, opacity 0.2s ease;
    max-height: 100em;
    visibility: visible;
    transition-delay: 0s;

    &[aria-hidden="true"] {
      display: block;
      max-height: 0;
      opacity: 0;
      visibility: hidden;
      transition-delay: 0.2s, 0s, 0s;
    }

    p:last-child {
      margin-bottom: $bump;
    }
  }

  /* title opened */
  [aria-expanded="true"]:after {
    content: "-";
  }
  /* title closed */
  [aria-expanded="false"]:after {
    content: "+";
  }

  // /* title selected */
  // [aria-selected="true"]:after {
  //   content: " (sel)";
  // }
  // /* title non selected */
  // [aria-selected="false"]:after {
  //   content: " (unselc)";
  // }
}
