/**
 * ----------------------
 * Un.titled
 * Molecules - Quotes
 * ----------------------
 */

/**
 * Config
 */

@mixin rating($stars) {
  &:nth-child(-n + #{$stars}) {
    path {
      fill: $text;
      stroke: $text;
    }
  }
}

/**
 * Styles
 */

&__quote {
  blockquote {
    @include font-title;
    margin: 0;
    padding: 0 0 $bump/2;

    @include media('<sm') {
      font-size: 25px;
      line-height: 35px;
    }

    footer {
      display: flex;
      align-items: center;
    }

    p {
      margin-bottom: 0;
    }

    cite {
      @include font-body;
      font-style: normal;

      .name {
        @include font-bold;
      }
    }
  }

  .rating {
    display: inline-flex;
    margin-right: $bump/2;

    &__star {
      width: 24px;
      height: 24px;
      margin-right: 5px;
      stroke: $text;

      &:last-child {
        margin-right: 0;
      }
    }

    @for $stars from 1 through 5 {
      &--#{$stars} {
        .rating__star {
          @include rating(#{$stars});
        }
      }
    }
  }
}
