/**
 * ----------------------
 * Un.titled
 * Molecules - Entities
 * ----------------------
 */

.m-entity {
  margin: $bump * 1.5 0;

  img {
    width: 100%;
    height: auto;
    display: block;
  }

  @import 'entity--body';
  @import 'entity--image';
  @import 'entity--view';
  @import 'entity--quote';
  @import 'entity--accordion';
  @import 'entity--gallery';
}
