/**
 * ----------------------
 * Un.titled
 * Molecules - Forms
 * ----------------------
 */

input,
input[type='text'],
input[type='password'],
input[type='email'],
input[type='submit'],
textarea,
select {
  @include font-body;
  color: $text;
  resize: none;
  padding: $bump/2 $bump;
  -webkit-border-radius: 0px;
  border-radius: 0;
  outline: 0;
  border: 1px solid $text;
  transition: all 0.2s $easing;
  background-color: #fff;
}

input[type='search'],
input[type='text'],
input[type='submit'] {
  -webkit-appearance: none;
}

.form-actions input,
input[type='submit'] {
  cursor: pointer;
}

button {
  appearance: none;
}

// Checkboxes
[type='checkbox']:checked,
[type='checkbox']:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type='checkbox']:checked + label,
[type='checkbox']:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
}
[type='checkbox']:checked + label:before,
[type='checkbox']:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  background-color: #fff;
  border: 2px solid $text;
}
[type='checkbox']:checked + label:after,
[type='checkbox']:not(:checked) + label:after {
  content: '\2714\0020';
  color: $text;
  position: absolute;
  top: 1px;
  left: 3.5px;
  transition: all 0.2s $easing;
}
[type='checkbox']:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type='checkbox']:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

// Radios
[type='radio']:checked,
[type='radio']:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type='radio']:checked + label,
[type='radio']:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: $text;
}
[type='radio']:checked + label:before,
[type='radio']:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid $text;
  border-radius: 100%;
  background-color: #fff;
}
[type='radio']:checked + label:after,
[type='radio']:not(:checked) + label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: $text;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  transition: all 0.2s $easing;
}
[type='radio']:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type='radio']:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
