/**
 * ----------------------
 * Un.titled
 * Molecules - Linked logos
 * ----------------------
 */

.m-logos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: $bump;

  a {
    display: block;

    &:hover {
      opacity: 0.7;
    }
  }
}
