<a href="{{ content.field_logo_link }}" target="_blank" title="{{ content.title }}" class="m-logos__logo">
  {% set logo = image_style(content.field_logo[0]['#item'].entity.fid.value, ['logo']) %}
  <img data-src="{{ logo.logo }}" alt="{{ content.field_logo[0]['#item'].alt }}" class="lazy">
</a>
