{% extends "eck-entity--extra-content.html.twig" %}

{% block content %}
  <a href="{{ content.field_cta[0]['#url'] }}" title="{{ content.field_cta[0]['#title'] }}" class="a-btn">{{ content.field_cta[0]['#title'] }}</a>
{% endblock %}
