{% extends "eck-entity--extra-content.html.twig" %}

{% block content %}

  <a href="{{ content.field_cta[0]['#plain_text'] }}" title="{{ content.title }}" class="a-btn">{{ content.title }}</a>

{% endblock %}
