{%
	set classes = [
		'm-entity',
		'm-entity__' ~ eck_entity.bundle|clean_class
	]
%}

<section{{attributes.addClass(classes)}} aria-label="{{ eck_entity.bundle }} content block">

  {% block content %}

    {% include '@pippip/partials/atoms/content-toolkit-title.twig' %}

    {{ content }}

  {% endblock %}

</section>
