{% extends "eck-entity--extra-content.html.twig" %}

{% block content %}

  {% include '@pippip/partials/atoms/content-toolkit-title.html.twig' %}

  <div class="js-accordion">
    {{ content.field_rows }}
  </div>

{% endblock %}
